name: Tests
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test-ubuntu-ruby:
    runs-on: ubuntu-latest
    services:
      postgis:
        image: postgis/postgis:${{matrix.pg}}
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --name=postgres
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      BUNDLE_GEMFILE: ${{matrix.gemfile}}
    strategy:
      fail-fast: false
      matrix:
        # ruby-lang.org/en/downloads/branches
        ruby: [ruby-head, "3.3", "3.2", "3.1"]
        # https://www.postgresql.org/support/versioning/
        pg: [12-master, 13-master, 14-master, 15-master, 16-master]
    steps:
      - name: Set Up Actions
        uses: actions/checkout@v4
      - name: Install GEOS
        run: sudo apt-get install libgeos-dev
      - name: Set Up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Create Database
        run: psql -d postgresql://postgres:postgres@localhost:5432/postgres -c "create database postgis_adapter_test"
      - name: Create PostGIS Extension
        run: psql -d postgresql://postgres:postgres@localhost:5432/postgis_adapter_test -c "create extension postgis"
      - name: Run Tests
        run: bundle exec rake test
        env:
          PGHOST: localhost
          PGPASSWORD: postgres
